@font-face {
	font-family: 'Roboto Mono';
	src: url('./assets/RobotoMono-VariableFont_wght.ttf');
}

body {
	margin-bottom: 10vh;
	font-family: 'Roboto Mono';
	font-size: 0.9rem;
}

input::placeholder {
	font-size: 0.9rem;
}

#content {
	display: inline-flex;
	justify-content: space-between;
	margin-left: 5%;
	width: 90%;

	#input {
		width: 47.5%;

		#input-form {
			border: 2px solid black;
			border-radius: 4px;

			#optional-arguments {
				cursor: pointer;
			}
		}
	}

	#output {
		width: 47.5%;

		#output-console {
			border: 2px solid black;
			border-radius: 4px;
			height: 50vh;
			max-height: 200vh;
			white-space: pre;
			overflow-wrap: normal;
			overflow-x: scroll;
		}

		#download-container {
			display: inline-flex;
			justify-content: space-between;
			align-items: center;

			button {
				width: 60%;
			}

			#output-gzip-container {
				display: inline-flex;
				justify-content: center;
				width: 35%;
				border-radius: 4px;
				border: 2px solid black !important;
				cursor: pointer;
				user-select: none;

				label {
					cursor: pointer;
				}
			}

			#output-gzip {
				float: none;
				margin-left: 0;
			}
		}
	}

	#input-header, #output-header {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		i {
			cursor: pointer;
		}
	}
}

#error-modal {
	position: absolute;
	top: 10vh;
	left: 50%;
	width: max(50%, 250px);
	border: 2px solid black;
	border-radius: 4px;
	background-color: white;
	font-weight: bold;
	transform: translateX(-50%);
	z-index: 1;
}

p {
	margin: 0;
}

.text-disabled {
	color: #999;
}

.full-width-container {
	width: 100% !important;
}

@media screen and (max-width: 768px) {
	#content {
		display: flex;
		flex-direction: column;
	}
	
	#input, #output {
		width: 100% !important;
	}
}